<div id='play_area'>
  <b><%= @current_card.question %></b>

  <%= render 'formPlay' %>

  <div class="show_outside">
    Answer
    <div class="show_inside"> 
      <%= @current_card.answer %> 
    </div>
  </div>

<br>
<br>
<br>
<%= link_to 'Back', decks_path %>
<%= link_to 'Edit', edit_deck_card_path(@current_deck.id,@current_card.id), target: '_blank' %>
</div>
