  <%= text_area_tag :question_ro, @current_card.question, readonly: 'true' %> 
  
  <%= render 'form' %>

  <div class="show_outside_answer">
    Touch Me 
    <div class="show_inside"> 
      <%= text_area_tag :question_ro, @current_card.answer, readonly: 'true' %> 
    </div>
  </div>

<br>
<%= link_to 'Back', user_root_path %>
<%= link_to 'Edit', edit_deck_card_path(@current_deck.id,@current_card.id, view: 'play', current_card_index: @current_card_index) %>
