<h1> [: + :]</h1>
<br>
<%= link_to 'shared decks', sharedDecks_path %>
<br>
<br>
<table>
  <% @current_decks.each do |deck| %>
    <tr>
      <td><%= deck.name %></td>
        <td>&#9762;<%= link_to 'Add Cards', new_deck_card_path(deck.id) %>&there4;  </td>
        <td><%= link_to 'Edit', edit_deck_path(deck) %>&there4; </td>
        <td><%= link_to 'Study', deck_card_game_study_path(deck.id,0) %>&there4; </td>
        <td><%= link_to 'Quiz', deck_card_game_play_path(deck.id,0) %>&there4; </td>
        <td><%= link_to 'History', deck_game_history_path(deck.id) %> &there4; </td>
        <td><%= link_to 'Annihilate', deck, method: :delete, data: { confirm: 'Are you sure?' } %>&there4;  </td>
        <td> Time: <%= p deck.plts.last.duration if deck.plts.last != nil %> min </td>
    </tr> 
  <% end %>
</table>


<br>
<%= link_to 'Create Deck', new_deck_path %>
<br>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>

<br>
<br>
<h1> [: + :] </h1>
<br> 
<h1> By: Steven Ov & SpringLab<h1>
<h1> @ <h1>
<h1> SpringLab<h1>
