<%= form_for [@current_deck, @current_card] do |f| %>
  <% if @current_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @current_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :question %>
    <%= f.text_field :question, autofocus: :true %>
    <br>
    <%= f.label :answer %>
    <%= f.text_field :answer %>

    <%= f.hidden_field :time , :value => @current_card.id.generation_time.to_i  %>
    <%= fields_for :addon do  |hidden| %>
    <%= hidden.hidden_field(:past_view , value:  @past_view) %> 
    <%= hidden.hidden_field(:past_card_id , value:  @past_card_id) %> 
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
