<div id='new_card'>
<h1>::Add Card::<%= @current_deck.name.capitalize %> Deck::</h1>
<p>
<b>Deck Name:</b>
  <%= @current_deck.name %>
<b>  Deck Size:</b>
  <%= @card_list.size %>
</p>

<%= render 'form' %>
<%= link_to 'Back', decks_path %>
<br>
<br>
<%= @card_list.each do |card| %>
  <%= link_to 'Edit', edit_deck_card_path(@current_deck.id, card.id), target: '_blank' %>
  <%= link_to 'Destroy', deck_card_path(@current_deck.id, card.id), method: :delete %> 
  <%= "Question: #{card.question} =>  Answer: #{card.answer}  " %>
<br>
<% end %>
<br>
</div>
