<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @card.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @card.answer %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
