<%= form_for @current_deck do |f| %>
  <% if @current_deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @current_deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>

    <!--used for starting the first card select -->
  <%= if(@current_deck.time.nil?) %>
    <%= f.hidden_field :time , :value => @current_deck.id.generation_time.to_i  %>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
