<p id="notice"><%= notice %></p>
<h1>Listing decks</h1>

<table>
  <tr>
    <th>Deck List</th>
  </tr>

<% @decks.each do |deck| %>
  <tr>
    <td><%= deck.name %></td>
    <td><%= link_to 'Add card', deck %></td>
    <td><%= link_to 'Edit name', edit_deck_path(deck) %></td>
    <td><%= link_to 'Destroy deck', deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Play deck', "/decks/#{deck.id}/play/#{deck.time}" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deck', new_deck_path %>
