<p id="notice"><%= notice %></p>

<p>
  <b>Deck Name:</b>
  <%= @current_deck.name %>

  <b>  Deck Size:</b>
  <%= @cards_in_deck.size %>

</p>

<%= render 'formCards' %>
<br>

<%= @cards_in_deck.each do |card| %>
  <%= "Question: #{card.question} => " %>
  <%= "Answer: #{card.answer}  " %>
  <%= link_to 'edit this card from this deck', "/decks/#{@current_deck.id}/card/edit/#{card.id}" %>
  <%= link_to 'delete this card from this deck', "/decks/#{@current_deck.id}/cards/#{card.id}", :method => :delete %> 

<br>
<% end %>

<br>
<%= link_to 'Edit', edit_deck_path(@current_deck) %> 
<%= link_to 'Back', decks_path %>
