<!DOCTYPE html>
<html>
<head>
  <title>Pokem0n</title>

  <!-- jquery mobile imports -->
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <!-- jquery mobile imports end -->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% unless notice.nil? %>
    <span class="notice"><%= notice %></span>
  <% end %>

  <% unless alert.nil? %>
    <span class="alert"><%= alert %></span>
  <% end %>

  <br>
  <br>

<%= yield %>

</body>
</html>
